 ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

 ul li {
    display: inline;
}

 ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 8px 12px;
    transition: color 0.3s, border-bottom 0.3s;
}

 ul li a:hover {
    background: linear-gradient(135deg, #7877C6 0%, #FF77C6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-bottom: 2px solid rgba(120, 119, 198, 0.6);
}