body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1A1A1A; 
    color: #E0E0E0; 
}

.logo {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Cinzel', serif; 
    color: #D4AF37; 
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 20px;
}

header {
    background: rgb(14, 13, 13);
    color: white;
    text-align: center;
    padding: 10px 20px; 
    font-size: 20px; 
    font-weight: bold;
    border-bottom: 2px solid #D4AF37;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 20px;
}

.auth-buttons .btn {
    background-color: #D4AF37;
    color: black;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.auth-buttons .btn:hover {
    background-color: white;
    color: black;
}

.create_button {
    display: flex;
    gap: 10px;
    margin-right: auto;
    position: absolute;
    top: 10px;
    right: 200px;
}

.create_button .btn {
    background-color: #D4AF37;
    color: black;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.create_button .btn:hover {
    background-color: white;
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 8px 12px;
    transition: color 0.3s, border-bottom 0.3s;
}

nav ul li a:hover {
    color: #D4AF37; 
    border-bottom: 2px solid #D4AF37;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background: #262626;
    color: #E0E0E0;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #333;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
}

h1, h2 {
    color: #D4AF37; 
    text-align: center;
    font-family: 'Cinzel', serif; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); 
    letter-spacing: 2px; 
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 40px;
}

h2 {
    font-size: 36px;
    font-weight: normal;
    margin-top: 20px;
}

footer {
    background-color: #0e0d0d; 
    color: #D4AF37; 
    text-align: center; 
    padding: 15px 0; 
    font-size: 16px;
    border-top: 2px solid #D4AF37; 
}

footer p {
    margin: 5px 0; 
}
