.form-control {
    background-color: #1A1A1A;
    border: 2px solid #D4AF37;
    padding: 20px;
    border-radius: 8px;
    color: #E0E0E0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-find {
    background-color: #262626;
    color: #E0E0E0;
    border: 2px solid #D4AF37;
    padding: 8px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 4px;
    text-align: center;
}

.input-find:focus {
    border-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.6);
}

.login-button {
    background-color: #D4AF37;
    color: #1A1A1A;
    border: none;
    padding: 8px 16px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: auto;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-button:hover {
    background-color: #FFFFFF;
    color: #1A1A1A;
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.8);
}