{% extends 'base.html' %}
{% load static %}
{% block title %}Товары{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<link href="{% static 'styles/products.css' %}?v=2.2" rel="stylesheet">
<h1 class="products-zag">Товары</h1>

<div class="container">
    <div class="filter-container">
        <form method="GET" class="search-form">
            <input class="input-find" name="search" placeholder="Поиск товаров..." type="text">
            <button class="btn-search" type="submit">Поиск</button>
        </form>
    </div>

    {% if user.is_superuser %}
        <div class="create-button">
            <a class="btn btn-primary" href="{% url 'create_product' %}">Создать товар</a>
        </div>
    {% endif %}

    <div class="row gy-4 gx-1">
        {% if page_obj %}
            {% for product in page_obj %}
                <div class="col-md-3">
                    <div class="card product-item">
                        {% if product.image %}
                            <img alt="{{ product.name }}" class="card-img-top product-img" src="{% get_media_prefix %}/{{ product.image }}">
                        {% else %}
                            <div class="product-img-placeholder">Нет изображения</div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            {% if product.manufacturer %}
                                <p class="product-manufacturer">Производитель: {{ product.manufacturer }}</p>
                            {% endif %}
                            <p class="product-price">Цена: {{ product.price }} ₽</p>
                            <a class="btn btn-primary" href="{% url 'product_detail' pk=product.id %}">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Товаров пока нет</p>
        {% endif %}
    </div>

    <div class="paginator">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn btn-light" href="?page=1">&laquo;1</a>
                {% if not page_obj.previous_page_number == 1 %}
                    <a class="btn btn-light"
                       href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                {% endif %}
            {% endif %}
            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                {% if not page_obj.next_page_number == page_obj.paginator.num_pages %}
                    <a class="btn btn-light"
                       href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                {% endif %}
                <a class="btn btn-light"
                   href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

